:root {
    --sans-serif: 'DM Sans', sans-serif;
    --blue: #016699;
    --pink: #E52C55;
    --offwhite: #FFFEFA;
    --black: #1A282F;
}

$mobile: 768px;
$mobile-small: 380px;
$desktop-small: 1024px;
$desktop-large: 1400px;